.layout-notification

 .chat
  %header
  .chat-side
   .chat-user.clearfix
    %h5 #{current_user.name}
    .chat-user__actions
     =link_to new_group_path(current_user), class: "chat-user__actions__action" do
      %i.fa.fa-pencil-square-o
     = link_to edit_user_path(current_user), class: "chat-user__actions__action" do
      %i.fa.fa-cog
   %ul.chat-groups
    %li.chat-group
     - @groups.each do |group|
      = render partial: "group",locals: { group: group }
  .chat-main
   %div(class="chat-header clearfix")
    .chat-header--left
     %h2
      #{@group.name}
     %p.chat-header__users
      Member :
      %span.chat-header__user
       - @members.each do |member|
        %span #{member.user.name}
    .chat-header--right
     = link_to 'Edit', edit_group_path(@group), class: "chat-header__edit-btn"
   .chat-body
    %ul.chat-messages
     %li.chat-message
      - @messages.each do |message|
       %div(class="chat-message__header clearfix")
        %p.chat-message__name
         = message.user_id
        %p.chat-message__time
         = message.created_at.strftime('%Y年%m月%d日 %H:%M')
       %p.chat-message__body
        = message.body
   .chat-footer
    = form_for [@group,@message] do |f|
     .chat-footer__body
      = f.text_area :body
      %label.chat-footer__file
       %i.fa.fa-image
     = f.submit "Send", data: { disable_with: "送信中..." }
